@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f6f9fc;
}

.header {
  height: 80px;
  background-color: #f6f9fc;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  max-width: 1400px;
  margin: 0 auto;
}

.header .nav .menu {
  display: none;
}

.header .nav .logo {
  color: #31485c;
  font-size: 1.6rem;
  font-weight: bold;
}

.header .nav ul {
  display: flex;
  gap: 50px;
  flex-shrink: 2;
}

.header .nav ul li {
  list-style: none;
  cursor: pointer;
}

.header .nav .button {
  background-color: #31485c;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

.hero {
  background-color: #f6f9fc;
  display: flex;
  gap: 80px;
  flex-direction: column;
  padding: 80px 100px;
  max-width: 1400px;
  margin: 0 auto;
}

.hero .section-one {
  display: flex;
  justify-content: space-between;
}

.hero .hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero .hero-text .tagline {
  font-size: 0.7rem;
}

.hero .hero-text h1 {
  font-size: 2rem;
}

.hero .hero-text p {
  font-size: 0.9rem;
  line-height: 1.3;
  max-width: 70%;
}

.hero .form-control {
  display: flex;
  align-items: center;
}

.hero .form-control input {
  background-color: #e2e9f1;
  padding: 5px 10px;
  border: none;
  height: 27px;
}

.hero .form-control input::placeholder {
  font-size: 0.8rem;
}

.hero .form-control a {
  background-color: #31485c;
  padding: 5px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}

.hero .hero-img {
  display: flex;
  align-items: flex-start;
}

.hero .hero-img img {
  transform: scale(1.2);
  position: relative;
  top: 9%;
}

.hero .section-two {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.hero .section-two section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #31485c;
}

.hero .section-two section i {
  font-size: 1.3rem;
}

.hero .section-two section span {
  font-weight: bold;
}

.hero .section-two section p {
  font-size: 0.9rem;
  max-width: 95%;
}

.hero .section-two section a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.7rem;
  color: #31485c;
}

.hero .section-two section a i {
  font-size: 0.7rem;
}

@media screen and (max-width: 900px) {
  .header .nav ul li:last-child {
    display: none;
  }

  .hero {
    padding: 80px 50px;
  }

  .hero .section-two {
    gap: 15px;
  }
}

@media screen and (max-width: 700px) {
  .header .nav ul li:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .header .nav {
    padding: 20px 30px;
  }

  .hero {
    padding: 80px 30px;
  }

  .hero .hero-text .tagline {
    font-size: 0.5rem;
  }

  .hero .hero-text h1 {
    font-size: 1.7rem;
  }

  .hero .hero-text p {
    font-size: 0.7rem;
  }

  .hero .form-control input::placeholder {
    font-size: 0.7rem;
  }

  .hero .form-control a {
    font-size: 0.7rem;
  }

  .hero .section-two {
    flex-wrap: wrap;
    gap: 30px;
  }

  .hero .section-two section {
    flex-basis: 40%;
  }
}

@media screen and (max-width: 650px) {
  .hero .hero-img {
    display: none;
  }

  .hero {
    padding: 50px 30px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 550px) {
  .header .nav {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .header .nav ul {
    display: none;
  }

  .header .nav .button {
    display: none;
  }

  .header .nav .menu {
    display: block;
    font-size: 1.6rem;
  }

  .header .nav .logo {
    margin-left: 35%;
  }
}

@media screen and (max-width: 400px) {
  .header .nav .logo {
    margin-left: 30%;
  }

  .hero .section-two {
    gap: 50px;
  }

  .hero .section-two section {
    flex-basis: 100%;
  }
}
